<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    
  <div id="app">
    <v-app>
      <v-main>
        <v-container><u><h2>Aircraft information</h2></u></v-container>
        <v-container>Using Wallet: {{wallet}}</v-container>
        <v-container>Operating with aircraft {{tailnumber}}</v-container>
        <v-container>Total flight hours {{hours}}</v-container>
        <v-container>Price per hour {{pricehour}}</v-container>
        <v-container>State {{state_txt}}</v-container>
        <v-divider></v-divider>
        <v-container>
        <v-row>  
        <u><h3>Log flight hours:</u></h3>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6">
        <v-text-field 
        v-model="hourstolog" 
        label="Total hours to log" 
        outlined>
        </v-text-field>
      </v-col>
      <v-col cols="12" sm="6">
        <v-text-field 
        v-model="commenttolog" 
        label="Comment for log" 
        outlined>
        </v-text-field>
      </v-col>
      <v-col cols="12" sm="6">
      Amount to send: {{pay_amount}}
      </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6">
        <v-btn elevation="2" v-on:click="logflight">Log flight</v-btn>
      </v-col>
      </v-row>
      <v-row>
      <v-divider></v-divider>
        </v-container>
        <v-container><v-row><h2><u>Owner only:</u></h2></v-row>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col cols="12" sm="6">
          <u><h3>Change price per hour:</u></h3>
        </v-col>
          <v-col cols="12" sm="6">
          <v-text-field 
          v-model="newprice" 
          label="New price per hour" 
          outlined>
          </v-text-field>
        </v-col>
          <v-col cols="12" sm="6">
          <v-btn elevation="2" v-on:click="updatePrice">Update Price</v-btn>
          </v-col>
        </v-row>

        <v-divider></v-divider>
        <v-row>
          <v-col cols="12" sm="6">
          <u><h3>Change co-owner:</u></h3>
        </v-col>
          <v-col cols="12" sm="6">
          <v-text-field 
          v-model="address" 
          label="Address for co-owner" 
          outlined>
          </v-text-field>
        </v-row>
        <v-row>
        </v-col>
          <v-col cols="12" sm="6">
          <v-btn elevation="2" v-on:click="addcoowner">Add Co-owner</v-btn>
          </v-col>
          <v-col cols="12" sm="6">
            <v-btn elevation="2" v-on:click="removecoowner">Remove Co-owner</v-btn>
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col cols="12" sm="6">
          <u><h3>Send to mechanic:</u></h3>
        </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6">
          <v-text-field 
          v-model="mecaddress" 
          label="Address for mechanic" 
          outlined>
          </v-text-field>
         </v-col>
         <v-col cols="12" sm="6">
          <v-text-field 
          v-model="maxpay" 
          label="Maximum amount to pay" 
          outlined>
          </v-text-field>
         </v-col>
          <v-col cols="12" sm="6">
          <v-btn elevation="2" v-on:click="sendmechanic">Send to mechanic</v-btn>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        </v-container>
        <v-container><v-row><h2><u>Mechanic or owner only:</u></h2></v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col cols="12" sm="6">
          <u><h3>Receive from mechanic:</u></h3>
        </v-col>
          <v-col cols="12" sm="6">
          <v-text-field 
          v-model="mecpay" 
          label="Maintenance cost" 
          outlined>
          </v-text-field>
         </v-col>
          <v-col cols="12" sm="6">
          <v-btn elevation="2" v-on:click="receivemechanic">Return aircraft from Mechanic</v-btn>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/web3.min.js"></script>
  <script src="js/truffle-contract.js"></script>
  <script src="js/app.js"></script>
  <script src="js/front.js"></script>   
</body>
